<div class="wrapper">
  <div>
    <label for="search" class="label">Search by name:</label>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchPhrase" (change)="setSearchPhrase()" id="search" >

    <label for="rating">Filter by rating:</label>
    <select class="form-select" aria-label="Default select example" id="rating" (click)="setRating()" [(ngModel)]="selectedRating">
      <option value="Not rated" >Not rated</option>
      <option value="1">1 or more</option>
      <option value="2">2 or more</option>
      <option value="3">3 or more</option>
      <option value="4">4 or more</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="d-flex flex-column" style="width:200px">
    <span  class="align-self-center text-center">Filter by price:</span>
    <div id="price" >
      <div class="d-flex d-flex justify-content-between">
        <label for="priceBotom">From:</label>
        <input 
          type="number" 
          class="form-control" 
          placeholder="Min price" 
          [(ngModel)]="priceBottom" 
          (change)="setPriceBottom()" 
          id="priceBottom"
          style="width:70px"
        >
      </div>
      <div class="d-flex justify-content-between">
        <label for="priceTop">To:</label>
        <input 
          type="number" 
          class="form-control" 
          placeholder="Max price" 
          [(ngModel)]="priceTop" 
          (change)="setPriceTop()" 
          id="priceTop"
          style="width:70px"
        >
      </div>
    </div>

  </div>
  <div>
    <label for="categories">Filter by category:</label>
    <select class="form-select" aria-label="Default select example" id="category" multiple [(ngModel)]="selectedCategories">
      <option value="All" (click)="setCategories()">All</option>
      <option *ngFor="let category of categories" [value]="category" (click)="setCategories()" >{{category}}</option>
    </select>
  </div>

  <div>
    <label for="kitchenTypes">Filter by kitchen type:</label>
    <select class="form-select" aria-label="Default select example" id="kitchenTypes" multiple [(ngModel)]="selectedKitchenTypes">
      <option value="All" (click)="setKitchenTypes()">All</option>
      <option *ngFor="let kitchenType of kitchenTypes" [value]="kitchenType" (click)="setKitchenTypes()" >{{kitchenType}}</option>
    </select>
  </div>

  <div>
    <label for="dishTypes">Filter by dish type:</label>
    <select class="form-select" aria-label="Default select example" id="dishTypes" multiple [(ngModel)]="selectedDishTypes">
      <option value="All" (click)="setDishTypes()">All</option>
      <option *ngFor="let dishType of dishTypes" [value]="dishType" (click)="setDishTypes()" >{{dishType}}</option>
    </select>
  </div>

   <button class="btn btn-secondary" (click)="clearValues()" style="align-self: center">Clear filters</button>
</div>
