<!-- <div id="mySidebar" class="sidebar" [ngStyle]="{'width': getWidth(), 'margin-right': getWidth()}">
    <a href="javascript:void(0)" class="closebtn" (click)=showHide()>	&#10005;</a>
    <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
  

 <div (click) = showHide() class="circ-btn"> > </div>  -->

 <div class="wrapper">
  <div class="input-group d-flex justify-content-center">
    <div class="form-outline">
      <label class="form-label" for="form1">Search</label>
      <input type="search" id="form1" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>
