<app-scroll-up></app-scroll-up>
<div class="container my-5 ">
    <h2 class="text-justify-start">Comments:</h2>
    
    <app-comment [comment]="comment" *ngFor="let comment of comments | paginate: { itemsPerPage: 10, currentPage: page }"> ></app-comment>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <app-add-comment-form  *ngIf="true"
        class="p-1"
        [dishId]="dishId" 
        [commentId]="comments.length + 1"
    (validComment)="addComment($event)"></app-add-comment-form>
    <h3 class="not-logged"*ngIf="false">Only logged users can add comments.</h3>
</div>