<app-scroll-up></app-scroll-up>
<div class="container my-5 ">
    <h2 class="text-justify-start">Comments:</h2>
    
    <app-comment [comment]="comment" *ngFor="let comment of comments | paginate: { itemsPerPage: 10, currentPage: page }"> ></app-comment>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <app-add-comment-form  *ngIf="canAddComment else cant"
        class="p-1"     
    (validComment)="addComment($event)"></app-add-comment-form>
    <ng-template #cant>
        <div *ngIf="!isUserBanned else banned" class="py-3">
            <h4 class="cant-add" >To rate this dish you have to buy it first. Only 1 review per user is permitted.</h4>
        </div>
    </ng-template>
    <ng-template #banned>
        <div class="py-3">
            <h4 class="cant-add" >You are banned. Contact with administrator.</h4>
        </div>
    </ng-template>
</div>