app-filter-section {
    position: absolute;
    overflow: hidden;
    width: 100%;
    transition: 0.5s;
    height: 0;
}

.shown {
    height: 150px;
}

.price {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.userName {
    color: aliceblue;
    margin: 0 .5rem;
}

.userName span {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .shown { 
        height: 300px;
    }
}
    