<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/menu" style="cursor: pointer;">
      <img src="../../assets/imgs/Catering-logo.png" alt="..." height="36">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h4 *ngIf="isUserLoggedIn" class="userName">Hello <span>{{userName}}</span></h4>
      <a *ngIf="userRoles.includes('admin') && currentRoute !=='/adminView'" class="adminView btn btn-info mx-1" routerLink="/adminView" >Admin view</a>
      <a *ngIf="(userRoles.includes('admin') || userRoles.includes('dishManager')) && currentRoute !=='/dishManagement'" class="dihsManager btn btn-info mx-1" routerLink="/dishManagement" >Dish Manager</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link active" aria-current="page" routerLink="/welcome" routerLinkActive="activate">Home</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link active" aria-current="page" routerLink="/menu" routerLinkActive="activate">Menu</a>
        </li>
        <li *ngIf="isUserLoggedIn" class="nav-item d-flex align-items-center">
          <app-cart></app-cart>

        </li>
        <li class="nav-item d-flex align-items-center">
          <a *ngIf="!isUserLoggedIn" class="log btn btn-secondary mx-1" routerLink="/logIn" >Log In</a>
          <a *ngIf="isUserLoggedIn" class="log btn btn-secondary mx-1" (click)="logOut()" >Log Out</a>
          <a *ngIf="isUserLoggedIn" class="btn btn-secondary mx-1" routerLink="/{{userName}}/order-history">History</a>
          <a *ngIf="currentRoute === '/menu'" class="btn btn-info mx-1" style="cursor:pointer;" 
              (click)='showHideFilterSection()'>Filer Dishes</a>
          <a class="btn btn-warning mx-1 price" (click)="setCurrency($event)">$</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<app-filter-section *ngIf="currentRoute === '/menu'" [ngClass]="{'shown': showFilterSection}"></app-filter-section>