<div class="nav-item d-flex align-items-center">
    <span id="boot-icon" class="bi bi-cart mx-1" style="cursor: pointer;font-size: 2rem; color: rgb(255, 255, 255);">
        <span class="badge badge-pill" [ngClass]="{'moreThan10': numberOfDishesTotal > 10}" >
            {{numberOfDishesTotal}}
        </span>
    </span>
    <span class="badge bg-secondary mx-1"style="font-size:1rem; padding:0.7rem">{{priceTotal | currency:currency | dolEurExchanger}}</span>
    <div class="btn btn-secondary mx-1" style="cursor:pointer" routerLink="/cart">Go to cart</div>
</div>