
.persistence {
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
}

h1 {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: white;
}

select {
    width: 10rem;
}