<div class="wrapper">
    <div class="parallax parallax-top">

        <h1 class="display-1"><strong>Catering food</strong></h1>
    </div>
    <div class="about">
        <h1 class="display-3 text-center">About us</h1>
        <p style="font-size:1.2rem">
            Catering Food is a professional full service catering & event company. We are dedicated to innovative, environmentally-friendly, fresh, healthy and most of all, delicious flavors of the culinary world! We have over 75 years of combined kitchen and catering experience among our staff.

We launched our company after two decades in the catering and event industry to bring you, our valued clients, the very best in catering services. Inspired by the late Executive Chef John Paul, the tradition of serving exceptional meals with great portions blended with a distinguished presentation, carries on today.

Welcome to Catering Food. We have a professional catering environment and a team of professionals dedicated to help clients achieve success for every event.

In this section you'll find information regarding the people and culture of our company. If you want to know where we're located, our hours of business, or simply what makes us tick, just follow the provided links for more information.

It's extremely important to us that our clients know whom they're doing business with. Once you take the time to find out what we're all about, we're confident you'll like what you see.
</p>
<button class="btn btn-outline-primary btn-lg btn-block" routerLink="/menu">see our offer</button>
    </div>
    <div class="find-us">
        <h1 class="display-3 text-center mb-5">Where can you find us:</h1>
        <div class="find-us-inner d-flex justify-content-around">
            <div class="contanct p-3 d-flex flex-column align-items-start" style="margin-right: 10%">
                <h1 class="display-6">Contact</h1>
                <p class="lead">Phone: 123 456 789</p>
                <p class="lead">Email: catering.food@food.com</p>
                <p class="lead">Address: Plac Kleparski 3, Kraków</p>
                <p></p>
            </div>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="815" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Plac%20Kleparski%203%20Krak%C3%B3w&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:815px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:815px;}</style></div></div>
        </div>
    </div>
    
</div>
