.ban-btn {
    width: 8rem;
}

.title {
    margin: 0;
    border: 1px solid gray;
}

.card {
    margin: 1rem 0;
}

.role {
    border: 2px solid gray;
    flex-grow: 1;
    padding: 0 0.5rem;
    border-radius: 5px;
    justify-content: center;
}