.rating {
    display: inline-block;
    text-align: center;
    margin: auto 0;
}

.wrapper {
    box-shadow: 1px 1px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    border-radius: 15px;
    padding: 1rem;
}

.wrapper:hover {
    transform: scale(1.02);
}


.rating {
    margin-right: 0.5rem;
}

small {
    margin: auto 0 ;
}

.comment {
    margin: 1rem 0 0.5rem 0;
    font-weight: 500;
    overflow-wrap: break-word;
}